.container {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.377);
    padding: 20px;
    }
    
    
    .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
    }
    
    
    .card {
    padding: 20px;
    border-radius: 10px;
    background-color: #257bec79;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-color: #34495e;
    }
    
    
    .card:hover {
    transform: translateY(-4px);
    background-color: #34495e;
    }
    
    
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #51a1af34 0%, #628ecb6c 100%);
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    
    
    .header h1 {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    }