.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.box{
  background-color: rgba(255, 255, 255, 0.80);
    border-radius: 30px;
    padding:40px;
    box-shadow: 0 2px 8px rgba(0.5, 0.5, 0.5, 0.5);
    color: rgb(34, 30, 25);
    border-color: #190861;
    max-width: 500px;   
   
   
}

.formStyle {
    width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
            
  }
  
  .formStyle > * {
    flex: 1 1 calc(50% - 20px);  
    
    
  }
  